#contact {
  padding: 100px 0;
}
#contact .heading_area {
  margin-bottom: 40px;
}

#contact input::placeholder,
#contact textarea::placeholder {
  font-family: var(--nunito);
  font-size: 13px;
}
#contact input,
#contact textarea {
  padding: 5px 10px;
  border: 1px solid rgb(195, 192, 192);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-border-radius: 5px;
}
#contact textarea {
  width: 100%;
}
#contact form .button {
  background-color: var(--primaryColor);
  color: #fff;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  padding: 12px 30px;
  min-width: 120px;
  outline: 0;
  font-weight: bold;
  font-size: 14px;
  margin-top: 40px;
}

#contact .address {
  text-align: center;
  margin-top: 30px;
}

#contact .address .icon {
  font-size: 40px;
  color: var(--primaryColor);
  margin-bottom: 20px;
}
#contact .address h4 {
  font-size: 16px;
  font-family: var(--poppins);
  font-weight: 700;
  margin-bottom: 8px;
  color: var(--primaryColor);
}

@media (min-width: 768px) and (max-width: 991.98px) {
  #contact {
    padding: 50px 0;
  }
  #contact .heading_area {
    margin-bottom: 20px;
  }
  #contact .heading {
    font-size: 30px;
    line-height: 38px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  #contact {
    padding: 80px 0;
  }
  #contact .heading_area {
    margin-bottom: 20px;
  }
  #contact .heading {
    font-size: 34px;
    line-height: 38px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  #contact {
    padding: 50px 0;
  }
  #contact .heading_area {
    margin-bottom: 20px;
  }
  .message {
    margin-top: 24px;
  }
  #contact .heading {
    font-size: 30px;
    line-height: 38px;
  }
}

@media (max-width: 575.98px) {
  #contact {
    padding: 50px 0;
  }
  #contact .heading {
    font-size: 30px;
    line-height: 38px;
  }
  #contact .heading_area {
    margin-bottom: 20px;
  }
  .message {
    margin-top: 24px;
  }
}
