#service {
  padding: 100px;
  background-color: rgb(0, 132, 119);
}
#service .heading {
  color: white;
}
#service .sectionHeading {
  margin-bottom: 60px;
}

#service article {
  display: flex;
  align-items: center;
  gap: 30px;
}

/* #service article .left{
    width: 20%;
} */

.circle {
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--primaryColor);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.circle .icon {
  font-size: 36px;
  color: var(--primaryColor);
}

#service .text {
  width: 80%;
}

#service .text h4 {
  font-family: var(--poppins);
  font-size: 20px;
  font-weight: 700;
  color: white;
  margin-bottom: 10px;
}
#service .text p {
  font-family: var(--poppins);
  font-size: 16px;
  font-weight: 400;
  color: white;
  margin-bottom: 10px;
  line-height: 28px;
}

#service .artTop {
  margin-bottom: 30px;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  #service {
    padding: 80px 0;
  }
  #service .heading {
    font-size: 40px;
  }
  #service .circle {
    height: 65px;
    width: 65px;
  }
  #service .circle .icon {
    font-size: 32px;
  }
  #service article {
    gap: 18px;
  }

}
@media (min-width: 768px) and (max-width: 991.98px) {
  #service {
    padding: 50px 0;
  }
  #service .heading {
    font-size: 30px;
  }
  #service .circle {
    height: 50px;
    width: 50px;
  }
  #service .circle .icon {
    font-size: 24px;
  }
  #service article {
    gap: 18px;
  }

  #service .art_main {
    display: flex;
    gap: 27px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  #service {
    padding: 50px 0;
  }
  #service .heading {
    font-size: 30px;
  }
  #service .circle {
    height: 50px;
    width: 50px;
  }
  #service .circle .icon {
    font-size: 24px;
  }
  #service article {
    gap: 18px;
  }

  #service .art_main {
    display: flex;
    gap: 27px;
  }
}

@media (max-width: 575.98px) {
  #service {
    padding: 50px 0;
  }
  #service .heading {
    font-size: 30px;
  }
  .circle {
    height: 50px;
    width: 50px;
  }
  .circle .icon {
    font-size: 24px;
  }
  #service article {
    gap: 18px;
  }
}
